{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="template-color" content="#0E0E0E">
    <meta name="description" content="{% block meta_description %}Index page{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}index, page{% endblock %}">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'imgs/template/favicon.png' %}">
    <link href="{% static 'css/style.css' %}?v=1.0.0" rel="stylesheet">
    <title>{% block title %}Luxride{% endblock %}</title>
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="page-loading">
            <div class="page-loading-inner">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    {% include 'includes/header.html' %}
    {% include 'includes/mobile_menu.html' %}
    
    <main class="main">
      {% block content %}{% endblock %}
    </main>
    
    {% include 'includes/footer.html' %}
    
    <script src="{% static 'js/vendors/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/vendors/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/vendors/jquery-migrate-3.3.0.min.js' %}"></script>
    <script src="{% static 'js/vendors/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/vendors/waypoints.js' %}"></script>
    <script src="{% static 'js/vendors/wow.js' %}"></script>
    <script src="{% static 'js/vendors/magnific-popup.js' %}"></script>
    <script src="{% static 'js/vendors/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'js/vendors/select2.min.js' %}"></script>
    <script src="{% static 'js/vendors/isotope.js' %}"></script>
    <script src="{% static 'js/vendors/scrollup.js' %}"></script>
    <script src="{% static 'js/vendors/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/vendors/noUISlider.js' %}"></script>
    <script src="{% static 'js/vendors/slider.js' %}"></script>
    <script src="{% static 'js/vendors/counterup.js' %}"></script>
    <script src="{% static 'js/vendors/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/vendors/jquery.elevatezoom.js' %}"></script>
    <script src="{% static 'js/vendors/slick.js' %}"></script>
    <script src="{% static 'js/vendors/jquery-ui.js' %}"></script>
    <script src="{% static 'js/vendors/jquery.timepicker.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}?v=1.0.0"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>