/* Default Colors Style */
$primary: #336AEA;
$secondaryColor: #10B981;;
$blackColor: #2A3547;
$bodyTextColor: #5A6A85;
$whiteColor: #ffffff;
$white-smokeColor: #F5F5F5;
$blu-smokeColor: #eaf4fb;
$dawn-pinkColor: #EBEBEB;
$red-violetColor: #D30082;
$font-fourteen: 14px; 
$font-fifteen: 15px; 
$font-sixteen: 16px; 
$font-seventeen: 17px; 
$font-eighteen: 18px; 
$transition: .7s; 

/* Default Fonts Style */
// $main-font-family: "Inter", sans-serif;
// $heading-font-family: "Plus Jakarta Sans", sans-serif;