{% extends 'base.html' %}
{% load static %}

{% block title %}Homepage 2 - Multipurpose Startup SaaS HTML Template{% endblock %}

{% block content %}
<section class="section banner-home2 mb-50">
  <div class="box-banner-homepage-2"> 
    <div class="box-cover-image" style="background-image:url({% static 'imgs/page/homepage1/banner3.png' %})"></div>
    <div class="box-banner-info"> 
      <p class="text-16 color-white wow fadeInUp">Where Would You Like To Go?</p>
      <h2 class="heading-52-medium color-white wow fadeInUp"> A New Class Of Luxury <br class="d-none d-lg-block">Limo Service</h2>
      <div class="mt-20"> <a class="btn btn-border wow fadeInUp" href="#">View Our Fleet
          <svg class="icon-16" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
          </svg></a></div>
    </div>
    <div class="box-search-ride box-search-ride-style-2"> 
      <div class="box-search-tabs wow fadeInUp"> 
        <div class="head-tabs"> 
          <ul class="nav nav-tabs nav-tabs-search" role="tablist">
            <li><a class="active" href="#tab-distance" data-bs-toggle="tab" role="tab" aria-controls="tab-distance" aria-selected="true">Distance</a></li>
            <li><a href="#tab-hourly" data-bs-toggle="tab" role="tab" aria-controls="tab-hourly" aria-selected="false">Hourly</a></li>
            <li><a href="#tab-rate" data-bs-toggle="tab" role="tab" aria-controls="tab-rate" aria-selected="false">Flat Rate</a></li>
          </ul>
        </div>
        <div class="tab-content">
          <div class="tab-pane fade active show" id="tab-distance" role="tabpanel" aria-labelledby="tab-distance">
            <div class="box-form-search">
              <div class="search-item search-date"> 
                <div class="search-icon"> <span class="item-icon icon-date"> </span></div>
                <div class="search-inputs"> 
                  <label class="text-14 color-grey">Date</label>
                  <input class="search-input datepicker-2" type="text" placeholder="" value="Thu, Oct 06, 2022">
                </div>
              </div>
              <div class="search-item search-time"> 
                <div class="search-icon"> <span class="item-icon icon-time"> </span></div>
                <div class="search-inputs"> 
                  <label class="text-14 color-grey">Time</label>
                  <input class="search-input timepicker" type="text" placeholder="" value="6 PM  :  15">
                </div>
              </div>
              <div class="search-item search-from"> 
                <div class="search-icon"> <span class="item-icon icon-from"> </span></div>
                <div class="search-inputs"> 
                  <label class="text-14 color-grey">From</label>
                  <input class="search-input dropdown-location" type="text" placeholder="" value="London City Airport (LCY)" readonly="readonly">
                  {% include 'includes/location_dropdown.html' %}
                </div>
              </div>
              <div class="search-item search-to"> 
                <div class="search-icon"> <span class="item-icon icon-to"> </span></div>
                <div class="search-inputs"> 
                  <label class="text-14 color-grey">To</label>
                  <input class="search-input dropdown-location" type="text" placeholder="" value="London City Airport (LCY)" readonly="readonly">
                  {% include 'includes/location_dropdown.html' %}
                </div>
              </div>
              <div class="search-item search-button mb-0"> 
                <button class="btn btn-search" type="submit"> <img src="{% static 'imgs/template/icons/search.svg' %}" alt="luxride">Search</button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-hourly" role="tabpanel" aria-labelledby="tab-hourly">
            <div class="box-form-search">
              <div class="search-item search-time"> 
                <div class="search-icon"> <span class="item-icon icon-time"> </span></div>
                <div class="search-inputs"> 
                  <label class="text-14 color-grey">Time</label>
                  <input class="search-input timepicker" type="text" placeholder="" value="6 PM  :  15">
                </div>
              </div>
              <div class="search-item search-date"> 
                <div class="search-icon"> <span class="item-icon icon-date"> </span></div>
                <div class="search-inputs"> 
                  <label class="text-14 color-grey">Date</label>
                  <input class="search-input datepicker" type="text" placeholder="" value="Thu, Oct 06, 2022">
                </div>
              </div>
              <div class="search-item search-from"> 
                <div class="search-icon"> <span class="item-icon icon-from"> </span></div>
                <div class="search-inputs"> 
                  <label class="text-14 color-grey">From</label>
                  <input class="search-input dropdown-location" type="text" placeholder="" value="London City Airport (LCY)" readonly="readonly">
                  {% include 'includes/location_dropdown.html' %}
                </div>
              </div>
              <div class="search-item search-to"> 
                <div class="search-icon"> <span class="item-icon icon-to"> </span></div>
                <div class="search-inputs"> 
                  <label class="text-14 color-grey">To</label>
                  <input class="search-input dropdown-location" type="text" placeholder="" value="London City Airport (LCY)" readonly="readonly">
                  {% include 'includes/location_dropdown.html' %}
                </div>
              </div>
              <div class="search-item search-button mb-0"> 
                <button class="btn btn-search" type="submit"> <img src="{% static 'imgs/template/icons/search.svg' %}" alt="luxride">Search</button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-rate" role="tabpanel" aria-labelledby="tab-rate">
            <div class="box-form-search">
              <div class="search-item search-date"> 
                <div class="search-icon"> <span class="item-icon icon-date"> </span></div>
                <div class="search-inputs"> 
                  <label class="text-14 color-grey">Date</label>
                  <input class="search-input datepicker" type="text" placeholder="" value="Thu, Oct 06, 2022">
                </div>
              </div>
              <div class="search-item search-time"> 
                <div class="search-icon"> <span class="item-icon icon-time"> </span></div>
                <div class="search-inputs"> 
                  <label class="text-14 color-grey">Time</label>
                  <input class="search-input timepicker" type="text" placeholder="" value="6 PM  :  15">
                </div>
              </div>
              <div class="search-item search-from"> 
                <div class="search-icon"> <span class="item-icon icon-from"> </span></div>
                <div class="search-inputs"> 
                  <label class="text-14 color-grey">From</label>
                  <input class="search-input dropdown-location" type="text" placeholder="" value="London City Airport (LCY)" readonly="readonly">
                  {% include 'includes/location_dropdown.html' %}
                </div>
              </div>
              <div class="search-item search-to"> 
                <div class="search-icon"> <span class="item-icon icon-to"> </span></div>
                <div class="search-inputs"> 
                  <label class="text-14 color-grey">To</label>
                  <input class="search-input dropdown-location" type="text" placeholder="" value="London City Airport (LCY)" readonly="readonly">
                  {% include 'includes/location_dropdown.html' %}
                </div>
              </div>
              <div class="search-item search-button mb-0"> 
                <button class="btn btn-search" type="submit"> <img src="{% static 'imgs/template/icons/search.svg' %}" alt="luxride">Search</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'mainpage/how_it_works.html' %}
{% include 'mainpage/services.html' %}
{% include 'mainpage/fleet.html' %}
{% include 'mainpage/showcase.html' %}
{% include 'mainpage/testimonials.html' %}
{% include 'mainpage/news.html' %}
{% include 'mainpage/partners.html' %}
{% include 'mainpage/download_app.html' %}
{% endblock %}