<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="template-color" content="#0E0E0E">
    <meta name="description" content="Index page">
    <meta name="keywords" content="index, page">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/template/favicon.png">
    <link href="assets/css/style.css?v=1.0.0" rel="stylesheet">
    <title>Homepage 6 - Multipurpose Startup SaaS HTML Template</title>
  </head>
  <body>
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="page-loading">
            <div class="page-loading-inner">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <header class="header sticky-bar">
      <div class="container-fluid">
        <div class="main-header">
          <div class="header-left">
            <div class="header-logo"><a class="d-flex" href="index.html"><img alt="luxride" src="assets/imgs/template/logo.svg"></a></div>
            <div class="header-nav">
              <nav class="nav-main-menu d-none d-xl-block">
                <ul class="main-menu">
                  <li class="has-children"><a class="active" href="index.html">Home</a>
                    <ul class="sub-menu">
                      <li><a href="index.html">Homepage 1</a></li>
                      <li><a href="index-2.html">Homepage 2</a></li>
                      <li><a href="index-3.html">Homepage 3</a></li>
                      <li><a href="index-4.html">Homepage 4</a></li>
                      <li><a href="index-5.html">Homepage 5</a></li>
                      <li><a href="index-6.html">Homepage 6</a></li>
                      <li><a href="index-7.html">Homepage 7</a></li>
                      <li><a href="index-8.html">Homepage 8</a></li>
                      <li><a href="index-9.html">Homepage 9</a></li>
                      <li><a href="index-10.html">Homepage 10</a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a href="#">Pages</a>
                    <ul class="sub-menu">
                      <li><a href="about.html">About</a></li>
                      <li><a href="about-2.html">About 2</a></li>
                      <li><a href="our-team.html">Our team</a></li>
                      <li><a href="team-single.html">Team single</a></li>
                      <li><a href="login.html">Login</a></li>
                      <li><a href="register.html">Register</a></li>
                      <li><a href="pricing.html">Pricing</a></li>
                      <li><a href="coming-soon.html">Coming soon</a></li>
                      <li><a href="404.html">Error 404</a></li>
                      <li><a href="booking-vehicle.html">Booking vehicle</a></li>
                      <li><a href="booking-extra.html">Booking Extra</a></li>
                      <li><a href="booking-passenger.html">Booking Passenger</a></li>
                      <li><a href="booking-payment.html">Booking Payment</a></li>
                      <li><a href="booking-receved.html">Booking Receieved</a></li>
                      <li><a href="invoice.html">Invoice</a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a href="fleet-list.html">Our Fleet</a>
                    <ul class="sub-menu">
                      <li><a href="fleet-list.html">Our Fleet 1</a></li>
                      <li><a href="fleet-list-2.html">Our Fleet 2</a></li>
                      <li><a href="fleet-list-3.html">Our Fleet 3</a></li>
                      <li><a href="fleet-list-4.html">Our Fleet 4</a></li>
                      <li><a href="fleet-single.html">Fleet single</a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a href="service-grid.html">Services</a>
                    <ul class="sub-menu">
                      <li><a href="service-grid.html">Service Listing</a></li>
                      <li><a href="service-grid-2.html">Service Listing 2</a></li>
                      <li><a href="service-grid-3.html">Service Listing 3</a></li>
                      <li><a href="service-single.html">Service Single</a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a href="blog-list.html">Blog</a>
                    <ul class="sub-menu">
                      <li><a href="blog-grid.html">Blog Grid</a></li>
                      <li><a href="blog-grid-2.html">Blog Grid 2</a></li>
                      <li><a href="blog-list.html">Blog List</a></li>
                      <li><a href="blog-single.html">Blog Single</a></li>
                    </ul>
                  </li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </nav>
              <div class="burger-icon burger-icon-white"><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
            </div>
            <div class="header-right">
              <div class="box-button-login d-inline-block mr-10 align-middle"><a class="btn btn-default hover-up" href="login.html">Log In</a></div>
              <div class="box-button-login d-none2 d-inline-block align-middle"><a class="btn btn-white hover-up" href="register.html">Sign Up</a></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
      <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-content-area">
          <div class="perfect-scroll">
            <div class="mobile-menu-wrap mobile-header-border">
              <nav class="mt-15">
                <ul class="mobile-menu font-heading">
                  <li class="has-children"><a class="active" href="index.html">Home</a>
                    <ul class="sub-menu">
                      <li><a href="index.html">Homepage - 1</a></li>
                      <li><a href="index-2.html">Homepage - 2</a></li>
                      <li><a href="index-3.html">Homepage - 3</a></li>
                      <li><a href="index-4.html">Homepage - 4</a></li>
                      <li><a href="index-5.html">Homepage - 5</a></li>
                      <li><a href="index-6.html">Homepage - 6</a></li>
                      <li><a href="index-7.html">Homepage - 7</a></li>
                      <li><a href="index-8.html">Homepage - 8</a></li>
                      <li><a href="index-9.html">Homepage - 9</a></li>
                      <li><a href="index-10.html">Homepage - 10</a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a href="#">Pages</a>
                    <ul class="sub-menu">
                      <li><a href="about.html">About</a></li>
                      <li><a href="about-2.html">About 2</a></li>
                      <li><a href="our-team.html">Our team</a></li>
                      <li><a href="team-single.html">Team single</a></li>
                      <li><a href="login.html">Login</a></li>
                      <li><a href="register.html">Register</a></li>
                      <li><a href="pricing.html">Pricing</a></li>
                      <li><a href="coming-soon.html">Coming soon</a></li>
                      <li><a href="404.html">Error 404</a></li>
                      <li><a href="booking-vehicle.html">Booking vehicle</a></li>
                      <li><a href="booking-extra.html">Booking Extra</a></li>
                      <li><a href="booking-passenger.html">Booking Passenger</a></li>
                      <li><a href="booking-payment.html">Booking Payment</a></li>
                      <li><a href="booking-receved.html">Booking Receieved</a></li>
                      <li><a href="invoice.html">Invoice</a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a href="fleet-list.html">Our Fleet</a>
                    <ul class="sub-menu">
                      <li><a href="fleet-list.html">Our Fleet 1</a></li>
                      <li><a href="fleet-list-2.html">Our Fleet 2</a></li>
                      <li><a href="fleet-list-3.html">Our Fleet 3</a></li>
                      <li><a href="fleet-list-4.html">Our Fleet 4</a></li>
                      <li><a href="fleet-single.html">Fleet single</a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a href="service-grid.html">Services</a>
                    <ul class="sub-menu">
                      <li><a href="service-grid.html">Service Listing</a></li>
                      <li><a href="service-grid-2.html">Service Listing 2</a></li>
                      <li><a href="service-grid-3.html">Service Listing 3</a></li>
                      <li><a href="service-single.html">Service Single</a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a href="blog.html">Blog</a>
                    <ul class="sub-menu">
                      <li><a href="blog-grid.html">Blog Grid</a></li>
                      <li><a href="blog-grid-2.html">Blog Grid 2</a></li>
                      <li><a href="blog-list.html">Blog List</a></li>
                      <li><a href="blog-single.html">Blog Details</a></li>
                    </ul>
                  </li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <main class="main">
      <section class="section banner-homepage6"> 
        <div class="container-fluid"> 
          <div class="row"> 
            <div class="col-lg-7">
              <div class="box-banner-homepage6-left">
                <div class="p text-16 color-text mb-5 wow fadeInUp">Where Would You Like To Go?</div>
                <h1 class="heading-52-medium color-text mb-30 wow fadeInUp">Find Your Private <br class="d-none d-lg-block">Chauffeur </h1>
                <div class="box-search-ride box-search-ride-3 wow fadeInUp"> 
                  <div class="search-item search-from"> 
                    <div class="search-icon"> <span class="item-icon icon-from"> </span></div>
                    <div class="search-inputs"> 
                      <label class="text-14 color-grey">From</label>
                      <input class="search-input dropdown-location" type="text" placeholder="" value="London City Airport (LCY)" readonly="readonly">
                      <div class="box-dropdown-location">
                        <div class="list-locations"> 
                          <div class="item-location"> 
                            <div class="location-icon"> <img src="assets/imgs/page/homepage1/plane.png" alt="luxride"></div>
                            <div class="location-info"> 
                              <h6 class="text-16-medium color-text title-location">London Heathrow Airport (LHR)</h6>
                              <p class="text-14 color-grey">London, United Kingdom</p>
                            </div>
                          </div>
                          <div class="item-location"> 
                            <div class="location-icon"> <img src="assets/imgs/page/homepage1/building.png" alt="luxride"></div>
                            <div class="location-info"> 
                              <h6 class="text-16-medium color-text title-location">London Tower Hill</h6>
                              <p class="text-14 color-grey">London, United Kingdom</p>
                            </div>
                          </div>
                          <div class="item-location"> 
                            <div class="location-icon"> <img src="assets/imgs/page/homepage1/train.png" alt="luxride"></div>
                            <div class="location-info"> 
                              <h6 class="text-16-medium color-text title-location">Leyton Train Station</h6>
                              <p class="text-14 color-grey">London, United Kingdom</p>
                            </div>
                          </div>
                          <div class="item-location"> 
                            <div class="location-icon"> <img src="assets/imgs/page/homepage1/plane.png" alt="luxride"></div>
                            <div class="location-info"> 
                              <h6 class="text-16-medium color-text title-location">London Luton Airport (LTN)</h6>
                              <p class="text-14 color-grey">London, United Kingdom</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="search-item search-to"> 
                    <div class="search-icon"> <span class="item-icon icon-to"> </span></div>
                    <div class="search-inputs"> 
                      <label class="text-14 color-grey">To</label>
                      <input class="search-input dropdown-location" type="text" placeholder="" value="London City Airport (LCY)" readonly="readonly">
                      <div class="box-dropdown-location">
                        <div class="list-locations"> 
                          <div class="item-location"> 
                            <div class="location-icon"> <img src="assets/imgs/page/homepage1/plane.png" alt="luxride"></div>
                            <div class="location-info"> 
                              <h6 class="text-16-medium color-text title-location">London Heathrow Airport (LHR)</h6>
                              <p class="text-14 color-grey">London, United Kingdom</p>
                            </div>
                          </div>
                          <div class="item-location"> 
                            <div class="location-icon"> <img src="assets/imgs/page/homepage1/building.png" alt="luxride"></div>
                            <div class="location-info"> 
                              <h6 class="text-16-medium color-text title-location">London Tower Hill</h6>
                              <p class="text-14 color-grey">London, United Kingdom</p>
                            </div>
                          </div>
                          <div class="item-location"> 
                            <div class="location-icon"> <img src="assets/imgs/page/homepage1/train.png" alt="luxride"></div>
                            <div class="location-info"> 
                              <h6 class="text-16-medium color-text title-location">Leyton Train Station</h6>
                              <p class="text-14 color-grey">London, United Kingdom</p>
                            </div>
                          </div>
                          <div class="item-location"> 
                            <div class="location-icon"> <img src="assets/imgs/page/homepage1/plane.png" alt="luxride"></div>
                            <div class="location-info"> 
                              <h6 class="text-16-medium color-text title-location">London Luton Airport (LTN)</h6>
                              <p class="text-14 color-grey">London, United Kingdom</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="search-item search-button"> 
                    <button class="btn btn-search" type="submit"> <img src="assets/imgs/template/icons/search.svg" alt="luxride">Search</button>
                  </div>
                </div>
                <div class="row align-items-center mt-100 wow fadeInUp"> 
                  <div class="col-lg-12 mb-30"> 
                    <h6 class="text-16-medium color-primary">The partners who sell our products</h6>
                  </div>
                  <div class="col-lg-12 mb-30">
                    <ul class="list-logos d-flex align-item-center"> 
                      <li><img src="assets/imgs/slider/logo/air.svg" alt="Luxride"></li>
                      <li><img src="assets/imgs/slider/logo/eb.svg" alt="Luxride"></li>
                      <li><img src="assets/imgs/slider/logo/nba.svg" alt="Luxride"></li>
                      <li><img src="assets/imgs/slider/logo/nla.svg" alt="Luxride"></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="box-banner-homepage6-right wow fadeInUp"><img src="assets/imgs/page/homepage6/banner.svg" alt="luxride"></div>
            </div>
          </div>
        </div>
      </section>
      <section class="section mt-110"> 
        <div class="container-sub"> 
          <div class="text-center">
            <h2 class="heading-44-medium color-text wow fadeInUp">How It Works</h2>
          </div>
          <div class="row mt-60 box-how-it-work"> 
            <div class="col-lg-4"> 
              <div class="cardNumberTitleDesc wow fadeInUp">
                <div class="cardNumber"><span>1</span></div>
                <div class="cardTitle">
                  <h5 class="text-20-medium color-text">Book Via App Or Web</h5>
                </div>
                <div class="cardDesc">
                  <p class="text-16 color-text">Enter your pickup &amp; dropoff locations or the number of hours you wish to book a car and driver for</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4"> 
              <div class="cardNumberTitleDesc wow fadeInUp">
                <div class="cardNumber"><span>2</span></div>
                <div class="cardTitle">
                  <h5 class="text-20-medium color-text">Choose Your Ride</h5>
                </div>
                <div class="cardDesc">
                  <p class="text-16 color-text">On the day of your ride, you will receive two email and SMS updates - one informing you that.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4"> 
              <div class="cardNumberTitleDesc wow fadeInUp">
                <div class="cardNumber"><span>3</span></div>
                <div class="cardTitle">
                  <h5 class="text-20-medium color-text">Enjoy Your Ride</h5>
                </div>
                <div class="cardDesc">
                  <p class="text-16 color-text">After your ride has taken place, we would appreciate it if you could rate your car and driver.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section pt-120 pb-120">
        <div class="container-sub"> 
          <div class="row align-items-center">
            <div class="col-lg-6 col-7">
              <h2 class="heading-44-medium wow fadeInUp">Our Fleet</h2>
            </div>
            <div class="col-lg-6 col-5 text-end"><a class="text-16-medium color-primary wow fadeInUp" href="#">More Fleet
                <svg class="icon-16" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
                </svg></a></div>
          </div>
          <div class="box-slide-fleet-2 fleet-style-5 mt-50">
            <div class="box-swiper"> 
              <div class="swiper-container swiper-group-3-fleet pb-0">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"> 
                    <div class="cardFleet wow fadeInUp">
                      <div class="cardInfo"><a href="fleet-single.html">
                          <h3 class="text-20-medium color-text mb-10">Business Class</h3></a>
                        <p class="text-14 color-text mb-30">Mercedes-Benz E-Class, BMW 5 Series, Cadillac XTS or similar</p>
                      </div>
                      <div class="cardImage mb-30"><a href="fleet-single.html"><img src="assets/imgs/page/homepage1/e-class.png" alt="Luxride"></a></div>
                      <div class="cardInfoBottom">
                        <div class="passenger"><span class="icon-circle icon-passenger"></span><span class="text-14">Passengers<span>4</span></span></div>
                        <div class="luggage"><span class="icon-circle icon-luggage"></span><span class="text-14">Luggage<span>2</span></span></div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="cardFleet wow fadeInUp">
                      <div class="cardInfo"><a href="fleet-single.html">
                          <h3 class="text-20-medium color-text mb-10">First Class</h3></a>
                        <p class="text-14 color-text mb-30">Mercedes-Benz EQS, BMW 7 Series, Audi A8 or similar</p>
                      </div>
                      <div class="cardImage mb-30"><a href="fleet-single.html"><img src="assets/imgs/page/homepage1/eqs.png" alt="Luxride"></a></div>
                      <div class="cardInfoBottom">
                        <div class="passenger"><span class="icon-circle icon-passenger"></span><span class="text-14">Passengers<span>4</span></span></div>
                        <div class="luggage"><span class="icon-circle icon-luggage"></span><span class="text-14">Luggage<span>2</span></span></div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="cardFleet wow fadeInUp">
                      <div class="cardInfo"><a href="fleet-single.html">
                          <h3 class="text-20-medium color-text mb-10">Business Van/SUV</h3></a>
                        <p class="text-14 color-text mb-30">Mercedes-Benz V-Class, Chevrolet Suburban, Cadillac Escalade, Toyota Alphard or similar</p>
                      </div>
                      <div class="cardImage mb-30"><a href="fleet-single.html"><img src="assets/imgs/page/homepage1/suv.png" alt="Luxride"></a></div>
                      <div class="cardInfoBottom">
                        <div class="passenger"><span class="icon-circle icon-passenger"></span><span class="text-14">Passengers<span>4</span></span></div>
                        <div class="luggage"><span class="icon-circle icon-luggage"></span><span class="text-14">Luggage<span>2</span></span></div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="cardFleet wow fadeInUp">
                      <div class="cardInfo"><a href="fleet-single.html">
                          <h3 class="text-20-medium color-text mb-10">Electric Class</h3></a>
                        <p class="text-14 color-text mb-30">Mercedes-Benz V-Class, Chevrolet Suburban, Cadillac Escalade, Toyota Alphard or similar</p>
                      </div>
                      <div class="cardImage mb-30"><a href="fleet-single.html"><img src="assets/imgs/page/homepage1/v-class.png" alt="Luxride"></a></div>
                      <div class="cardInfoBottom">
                        <div class="passenger"><span class="icon-circle icon-passenger"></span><span class="text-14">Passengers<span>4</span></span></div>
                        <div class="luggage"><span class="icon-circle icon-luggage"></span><span class="text-14">Luggage<span>2</span></span></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="box-pagination-fleet">
                  <div class="swiper-button-prev swiper-button-prev-fleet">
                    <svg fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
                    </svg>
                  </div>
                  <div class="swiper-button-next swiper-button-next-fleet">
                    <svg fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section block-padding-60">
        <div class="box-our-services-full">
          <div class="container-sub"> 
            <div class="row align-items-center">
              <div class="col-lg-6 col-7">
                <h2 class="heading-44-medium wow fadeInUp">Our Services</h2>
              </div>
              <div class="col-lg-6 col-5 text-end"><a class="text-16-medium color-primary wow fadeInUp" href="#">More Services
                  <svg class="icon-16" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
                  </svg></a></div>
            </div>
            <div class="row mt-60 align-items-center"> 
              <div class="col-lg-6 mb-30 wow fadeInUp"> <img class="w-100 bd-rd6" src="assets/imgs/page/homepage5/img-how.png" alt="Luxride"></div>
              <div class="col-lg-6 mb-30"> 
                <div class="box-region-right wow fadeInUp">
                  <div class="accordion accordion-style-2 wow fadeInUp" id="accordionFAQ">
                    <div class="accordion-item">
                      <h5 class="accordion-header" id="headingHowOne">
                        <button class="accordion-button heading-32-medium color-text" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHowOne" aria-expanded="true" aria-controls="collapseHowOne">Intercity Rides</button>
                      </h5>
                      <div class="accordion-collapse collapse show" id="collapseHowOne" aria-labelledby="headingHowOne" data-bs-parent="#accordionFAQ">
                        <div class="accordion-body">Enter your pickup & dropoff locations or the number of hours you wish to book a car and driver for<br><a class="text-16-medium hover-up mt-10 d-block" href="#">Explore
                            <svg class="icon-16 ml-5" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
                            </svg></a></div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h5 class="accordion-header" id="headingHowTwo">
                        <button class="accordion-button heading-32-medium color-text collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHowTwo" aria-expanded="false" aria-controls="collapseHowTwo">Chauffeur Hailing</button>
                      </h5>
                      <div class="accordion-collapse collapse" id="collapseHowTwo" aria-labelledby="headingHowTwo" data-bs-parent="#accordionFAQ">
                        <div class="accordion-body">On the day of your ride, you will receive two email and SMS updates one informing you that.<br><a class="text-16-medium hover-up mt-10 d-block" href="#">Explore
                            <svg class="icon-16 ml-5" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
                            </svg></a></div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h5 class="accordion-header" id="headingHowThree">
                        <button class="accordion-button heading-32-medium color-text collapsed text-heading-5 type=" data-bs-toggle="collapse" data-bs-target="#collapseHowThree" aria-expanded="false" aria-controls="collapseHowThree">Airport Transfer</button>
                      </h5>
                      <div class="accordion-collapse collapse" id="collapseHowThree" aria-labelledby="headingHowThree" data-bs-parent="#accordionFAQ">
                        <div class="accordion-body">After your ride has taken place, we would appreciate it if you could rate your car and driver.<br><a class="text-16-medium hover-up mt-10 d-block" href="#">Explore
                            <svg class="icon-16 ml-5" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
                            </svg></a></div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h5 class="accordion-header" id="headingHowFour">
                        <button class="accordion-button heading-32-medium color-text collapsed text-heading-5 type=" data-bs-toggle="collapse" data-bs-target="#collapseHowFour" aria-expanded="false" aria-controls="collapseHowFour">Sprinter Class</button>
                      </h5>
                      <div class="accordion-collapse collapse" id="collapseHowFour" aria-labelledby="headingHowFour" data-bs-parent="#accordionFAQ">
                        <div class="accordion-body">Lorem ipsum dolor sit amet, consvi etur sad ips cing elitr, sed diam non umy eirm<br><a class="text-16-medium hover-up mt-10 d-block" href="#">Explore
                            <svg class="icon-16 ml-5" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
                            </svg></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section pt-120 box-testimonials">
        <div class="container-sub"> 
          <div class="text-center"> 
            <h3 class="heading-44-medium color-text wow fadeInUp">Hear what our amazing <br class="d-none d-lg-block">customers say</h3>
          </div>
          <div class="row mt-50"> 
            <div class="col-lg-5 col-md-6 mb-30">
              <div class="box-customers-images wow fadeInUp">
                <div class="image-customer active"><img src="assets/imgs/page/homepage6/customer1.png" alt="luxride">
                  <div class="customer-quote"> <img src="assets/imgs/page/homepage6/customer-quote.png" alt="luxride"></div>
                </div>
                <div class="image-customer"><img src="assets/imgs/page/homepage6/customer2.png" alt="luxride"></div>
                <div class="image-customer"><img src="assets/imgs/page/homepage6/customer3.png" alt="luxride"></div>
              </div>
            </div>
            <div class="col-lg-7 col-md-6 mb-30">
              <div class="box-swiper"> 
                <div class="swiper-container swiper-group-testimonials-fraction pb-50">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide"> 
                      <div class="cardQuote cardTestimonialsStyle2 wow fadeInUp">
                        <div class="content-quote color-text">
                           Pick up from the airport went smooth. 3 drivers were there waiting for my party of 16. Drivers were friendly and very helpful.<br><br>For my return pickup from the hotel to airport, I was assigned 4 drivers instead of the original 3. Was not provided the 4th drivers contact information and he was late for pickup causing delay of departure to the airport. For 20 minutes, I was told he was “at the light”. I was informed that 2 of the shuttles were with one company and the other.</div>
                      </div>
                    </div>
                    <div class="swiper-slide"> 
                      <div class="cardQuote cardTestimonialsStyle2 wow fadeInUp">
                        <div class="content-quote color-text">
                           Pick up from the airport went smooth. 3 drivers were there waiting for my party of 16. Drivers were friendly and very helpful.<br><br>For my return pickup from the hotel to airport, I was assigned 4 drivers instead of the original 3. Was not provided the 4th drivers contact information and he was late for pickup causing delay of departure to the airport. For 20 minutes, I was told he was “at the light”. I was informed that 2 of the shuttles were with one company and the other.</div>
                      </div>
                    </div>
                    <div class="swiper-slide"> 
                      <div class="cardQuote cardTestimonialsStyle2 wow fadeInUp">
                        <div class="content-quote color-text">
                           Pick up from the airport went smooth. 3 drivers were there waiting for my party of 16. Drivers were friendly and very helpful.<br><br>For my return pickup from the hotel to airport, I was assigned 4 drivers instead of the original 3. Was not provided the 4th drivers contact information and he was late for pickup causing delay of departure to the airport. For 20 minutes, I was told he was “at the light”. I was informed that 2 of the shuttles were with one company and the other.</div>
                      </div>
                    </div>
                    <div class="swiper-slide"> 
                      <div class="cardQuote cardTestimonialsStyle2 wow fadeInUp">
                        <div class="content-quote color-text">
                           Pick up from the airport went smooth. 3 drivers were there waiting for my party of 16. Drivers were friendly and very helpful.<br><br>For my return pickup from the hotel to airport, I was assigned 4 drivers instead of the original 3. Was not provided the 4th drivers contact information and he was late for pickup causing delay of departure to the airport. For 20 minutes, I was told he was “at the light”. I was informed that 2 of the shuttles were with one company and the other.</div>
                      </div>
                    </div>
                  </div>
                  <div class="box-pagination-fleet">
                    <div class="swiper-button-prev swiper-button-prev-fleet swiper-button-prev-small swiper-button-prev-testimonials-fraction">
                      <svg fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
                      </svg>
                    </div>
                    <div class="swiper-button-next swiper-button-next-fleet swiper-button-next-small swiper-button-next-testimonials-fraction">
                      <svg fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
                      </svg>
                    </div>
                    <div class="swiper-pagination swiper-pagination-testimonials-fraction"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section box-reliability">
        <div class="container-sub"> 
          <div class="row align-items-center"> 
            <div class="col-lg-6 mb-30">
              <div class="box-reliability-inner">
                <h2 class="heading-44-medium color-text mb-30 wow fadeInUp">Reliability, worldwide</h2>
                <p class="text-16 color-text mb-20 wow fadeInUp">Aliquam erat volutpat. Integer malesuada turpis id fringilla suscipit. </p>
                <ul class="list-ticks list-ticks-style-2 wow fadeInUp"> 
                  <li>Affordable</li>
                  <li>Punctual</li>
                  <li>Professional </li>
                </ul>
                <div class="mt-30"> <a class="btn btn-primary wow fadeInUp" href="#">Learn More
                    <svg class="icon-16 ml-5" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
                    </svg></a></div>
              </div>
            </div>
            <div class="col-lg-6 mb-30 wow fadeInUp"><img src="assets/imgs/page/homepage6/img1.png" alt="luxride"></div>
          </div>
        </div>
      </section>
      <section class="section pt-120">
        <div class="container-sub"> 
          <div class="row align-items-center">
            <div class="col-lg-6 col-sm-7 col-7">
              <h2 class="heading-44-medium wow fadeInUp">Top Cities</h2>
            </div>
            <div class="col-lg-6 col-sm-5 col-5 text-end"><a class="text-16-medium color-primary d-flex align-items-center justify-content-end wow fadeInUp" href="#">More Cities
                <svg class="icon-16 ml-5" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
                </svg></a></div>
          </div>
          <div class="box-slide-fleet-2 mt-50">
            <div class="box-swiper"> 
              <div class="swiper-container swiper-group-4-fleet pb-0">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"> 
                    <div class="cardCities wow fadeInUp">
                      <div class="cardImage"><a href="#"><img src="assets/imgs/page/homepage3/city1.png" alt="Luxride"></a></div>
                      <div class="cardInfo"><a href="#">
                          <h3 class="cardTitle color-text">20 routes to/from this city</h3></a>
                        <p class="cardDesc color-text">London</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="cardCities wow fadeInUp">
                      <div class="cardImage"><a href="#"><img src="assets/imgs/page/homepage3/city2.png" alt="Luxride"></a></div>
                      <div class="cardInfo"><a href="#">
                          <h3 class="cardTitle color-text">8 routes to/from this city</h3></a>
                        <p class="cardDesc color-text">New York</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="cardCities wow fadeInUp">
                      <div class="cardImage"><a href="#"><img src="assets/imgs/page/homepage3/city3.png" alt="Luxride"></a></div>
                      <div class="cardInfo"><a href="#">
                          <h3 class="cardTitle color-text">6 routes to/from this city</h3></a>
                        <p class="cardDesc color-text">Berlin</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="cardCities wow fadeInUp">
                      <div class="cardImage"><a href="#"><img src="assets/imgs/page/homepage3/city4.png" alt="Luxride"></a></div>
                      <div class="cardInfo"><a href="#">
                          <h3 class="cardTitle color-text">4 routes to/from this city</h3></a>
                        <p class="cardDesc color-text">Paris</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="cardCities wow fadeInUp">
                      <div class="cardImage"><a href="#"><img src="assets/imgs/page/homepage3/city5.png" alt="Luxride"></a></div>
                      <div class="cardInfo"><a href="#">
                          <h3 class="cardTitle color-text">20 routes to/from this city</h3></a>
                        <p class="cardDesc color-text">Los Angeles</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="cardCities wow fadeInUp">
                      <div class="cardImage"><a href="#"><img src="assets/imgs/page/homepage3/city6.png" alt="Luxride"></a></div>
                      <div class="cardInfo"><a href="#">
                          <h3 class="cardTitle color-text">20 routes to/from this city</h3></a>
                        <p class="cardDesc color-text">Roma</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="box-pagination-fleet">
                  <div class="swiper-button-prev swiper-button-prev-fleet">
                    <svg fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
                    </svg>
                  </div>
                  <div class="swiper-button-next swiper-button-next-fleet">
                    <svg fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section latest-new-white block-news-padding-60 mt-100">
        <div class="box-latest-news-full">
          <div class="container-sub"> 
            <div class="row align-items-center">
              <div class="col-lg-6 col-7">
                <h2 class="heading-44-medium color-text wow fadeInUp">Latest From News</h2>
              </div>
              <div class="col-lg-6 col-5 text-end"><a class="text-16-medium color-text hover-up d-inline-block wow fadeInUp" href="#">More News
                  <svg class="icon-16" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
                  </svg></a></div>
            </div>
            <div class="row mt-50"> 
              <div class="col-lg-4"> 
                <div class="cardNews wow fadeInUp"><a href="blog-single.html">
                    <div class="cardImage">
                      <div class="datePost">
                        <div class="heading-52-medium color-white">14.</div>
                        <p class="text-14 color-white">Jun, 2022</p>
                      </div><img src="assets/imgs/page/homepage1/news1.png" alt="luxride">
                    </div></a>
                  <div class="cardInfo">
                    <div class="tags mb-10"><a href="#">Travel</a></div><a class="color-white" href="blog-single.html">
                      <h3 class="text-20-medium color-white mb-20">3 hidden-gem destinations for your wish list</h3></a><a class="cardLink btn btn-arrow-up" href="blog-single.html">
                      <svg class="icon-16" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
                      </svg></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4"> 
                <div class="cardNews wow fadeInUp"><a href="blog-single.html">
                    <div class="cardImage">
                      <div class="datePost">
                        <div class="heading-52-medium color-white">18.</div>
                        <p class="text-14 color-white">Jun, 2022</p>
                      </div><img src="assets/imgs/page/homepage1/news2.png" alt="luxride">
                    </div></a>
                  <div class="cardInfo">
                    <div class="tags mb-10"><a href="#">Culture</a></div><a class="color-white" href="blog-single.html">
                      <h3 class="text-20-medium color-white mb-20">Explore the big things happening in Dallas</h3></a><a class="cardLink btn btn-arrow-up" href="blog-single.html">
                      <svg class="icon-16" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
                      </svg></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4"> 
                <div class="cardNews wow fadeInUp"><a href="blog-single.html">
                    <div class="cardImage">
                      <div class="datePost">
                        <div class="heading-52-medium color-white">20.</div>
                        <p class="text-14 color-white">Jun, 2022</p>
                      </div><img src="assets/imgs/page/homepage1/news3.png" alt="luxride">
                    </div></a>
                  <div class="cardInfo">
                    <div class="tags mb-10"><a href="#">News</a></div><a class="color-white" href="blog-single.html">
                      <h3 class="text-20-medium color-white mb-20">LA’s worst traffic areas and how to avoid them</h3></a><a class="cardLink btn btn-arrow-up" href="blog-single.html">
                      <svg class="icon-16" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
                      </svg></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section bg-white pt-120">
        <div class="container-sub">
          <div class="row align-items-center"> 
            <div class="col-lg-6 mb-30">
              <h2 class="heading-44-medium color-text wow fadeInUp">We make sure that your every trip is comfortable </h2>
            </div>
            <div class="col-lg-6 mb-30"> 
              <p class="text-16 color-text wow fadeInUp">Aliquam erat volutpat. Integer malesuada turpis id fringilla suscipit. Maecenas ultrices.</p>
            </div>
          </div>
          <div class="row mt-50 justify-content-between"> 
            <div class="col-lg-4 col-sm-6"> 
              <div class="cardImageText wow fadeInUp"> 
                <div class="cardImage"> <img src="assets/imgs/page/homepage4/limo.svg" alt="luxride"></div>
                <div class="cardInfo">
                  <p class="text-20-medium color-text">Luxury Limousine <br class="d-none d-lg-block">Selection</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6"> 
              <div class="cardImageText wow fadeInUp"> 
                <div class="cardImage"> <img src="assets/imgs/page/homepage4/phone.svg" alt="luxride"></div>
                <div class="cardInfo">
                  <p class="text-20-medium color-text">27/7 Order <br class="d-none d-lg-block">Available</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6"> 
              <div class="cardImageText wow fadeInUp"> 
                <div class="cardImage"> <img src="assets/imgs/page/homepage4/wheel.svg" alt="luxride"></div>
                <div class="cardInfo">
                  <p class="text-20-medium color-text">Fast Car Delivery<br class="d-none d-lg-block">Service</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6"> 
              <div class="cardImageText wow fadeInUp"> 
                <div class="cardImage"> <img src="assets/imgs/page/homepage4/seat.svg" alt="luxride"></div>
                <div class="cardInfo">
                  <p class="text-20-medium color-text">High Safety <br class="d-none d-lg-block">and Nurity</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6"> 
              <div class="cardImageText wow fadeInUp"> 
                <div class="cardImage"> <img src="assets/imgs/page/homepage4/price.svg" alt="luxride"></div>
                <div class="cardInfo">
                  <p class="text-20-medium color-text">Fixed Price & <br class="d-none d-lg-block">Bonus System</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6"> 
              <div class="cardImageText wow fadeInUp"> 
                <div class="cardImage"> <img src="assets/imgs/page/homepage4/driver.svg" alt="luxride"></div>
                <div class="cardInfo">
                  <p class="text-20-medium color-text">Professional <br class="d-none d-lg-block">Car Drivers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer footer-6">
      <div class="footer-1">
        <div class="container-sub">
          <div class="row mb-40">
            <div class="col-lg-3 width-20 mb-30 wow fadeInUp">
              <h5 class="text-18-medium color-white mb-10">Address</h5>
              <p class="text-14 color-white mb-30">184 Main Collins Street West Victoria 8007</p>
              <h5 class="text-18-medium color-white mb-10">Call Our Office</h5>
              <p class="text-14 color-white mb-30">184 Main Collins Street West Victoria 8007</p>
              <h5 class="text-18-medium color-white mb-10">Working Hours</h5>
              <p class="text-14 color-white">Mon-Sat: 09:00 - 17:00<br>Sun: Closed</p>
            </div>
            <div class="col-lg-3 width-20 wow fadeInUp">
              <h5 class="text-18-medium color-white mb-20">Company</h5>
              <ul class="menu-footer">
                <li><a href="#">About us</a></li>
                <li><a href="#">Our offerings</a></li>
                <li><a href="#">Newsroom</a></li>
                <li><a href="#">Investors</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Gift cards</a></li>
              </ul>
            </div>
            <div class="col-lg-3 width-20 mb-30 wow fadeInUp">
              <h5 class="text-18-medium color-white mb-20">Top cities</h5>
              <ul class="menu-footer">
                <li><a href="about.html">New York</a></li>
                <li><a href="our-team.html">London</a></li>
                <li><a href="#">Berlin</a></li>
                <li><a href="#">Los Angeles</a></li>
                <li><a href="#">Paris</a></li>
              </ul>
            </div>
            <div class="col-lg-3 width-20 mb-30 wow fadeInUp">
              <h5 class="text-18-medium color-white mb-20">Classes</h5>
              <ul class="menu-footer">
                <li><a href="#">Business</a></li>
                <li><a href="#">First</a></li>
                <li><a href="#">XL</a></li>
                <li><a href="#">Assistant</a></li>
              </ul>
            </div>
            <div class="col-lg-3 width-20 wow fadeInUp">
              <h5 class="text-18-medium color-white mb-20">Download The App</h5>
              <div class="text-start">
                <div class="box-button-download"><a class="btn btn-download hover-up wow fadeInUp" href="#">
                    <div class="inner-download">
                      <div class="icon-download"><img src="assets/imgs/template/icons/apple-icon.svg" alt="luxride"></div>
                      <div class="info-download"><span class="text-download-top">Download on the</span><span class="text-14-medium">Apple Store</span></div>
                    </div></a><a class="btn btn-download hover-up wow fadeInUp" href="#">
                    <div class="inner-download">
                      <div class="icon-download"><img src="assets/imgs/template/icons/google-icon.svg" alt="luxride"></div>
                      <div class="info-download"><span class="text-download-top">Download on the</span><span class="text-14-medium">Apple Store</span></div>
                    </div></a></div>
              </div>
              <div class="mt-25">
                <div class="text-18-medium color-white mb-20">Follow Us</div><a class="icon-socials icon-facebook" href="#"></a><a class="icon-socials icon-twitter" href="#"></a><a class="icon-socials icon-instagram" href="#"></a><a class="icon-socials icon-linkedin" href="#"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-2">
        <div class="container-sub">
          <div class="footer-bottom">
            <div class="row align-items-center">
              <div class="col-lg-8 col-md-12 text-center text-lg-start"><span class="text-14 color-white mr-50">© 2024 Luxride</span>
                <ul class="menu-bottom">
                  <li><a href="term-conditions.html">Terms</a></li>
                  <li><a href="term-conditions.html">Privacy policy</a></li>
                  <li><a href="term-conditions.html">Legal notice</a></li>
                  <li><a href="#">Accessibility</a></li>
                </ul>
              </div>
              <div class="col-lg-4 col-md-12 text-center text-lg-end"><a class="btn btn-link-location" href="#">New York</a><a class="btn btn-link-globe active" href="#">English</a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="assets/js/vendors/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/waypoints.js"></script>
    <script src="assets/js/vendors/wow.js"></script>
    <script src="assets/js/vendors/magnific-popup.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/isotope.js"></script>
    <script src="assets/js/vendors/scrollup.js"></script>
    <script src="assets/js/vendors/swiper-bundle.min.js"></script>
    <script src="assets/js/vendors/noUISlider.js"></script>
    <script src="assets/js/vendors/slider.js"></script>
    <!-- Count down-->
    <script src="assets/js/vendors/counterup.js"></script>
    <script src="assets/js/vendors/jquery.countdown.min.js"></script>
    <!-- Count down--><script src="assets/js/vendors/jquery.elevatezoom.js"></script>
<script src="assets/js/vendors/slick.js"></script>
<script src="assets/js/vendors/jquery-ui.js"></script>
<script src="assets/js/vendors/jquery.timepicker.min.js"></script>
    <script src="assets/js/main.js?v=1.0.0"></script>
  </body>
</html>