{% load static %}
<section class="section mt-50 block-padding-100">
  <div class="box-fleet-padding bg-primary bg-download-2">
    <div class="container-sub"> 
      <h2 class="heading-44-medium color-white mb-20 wow fadeInUp">Download the app</h2>
      <p class="color-white text-16 mb-60 wow fadeInUp">Have a personal driver at your fingertips no matter where you <br class="d-none d-md-block">are with our easy-to-use smartphone app.</p>
      <div class="box-button-download"> <a class="btn btn-download mr-15 hover-up wow fadeInUp" href="#">
          <div class="inner-download">
            <div class="icon-download"> <img src="{% static 'imgs/template/icons/apple-icon.svg' %}" alt="luxride"></div>
            <div class="info-download"> <span class="text-download-top">Download on the</span><span class="text-14-medium">Apple Store</span></div>
          </div></a><a class="btn btn-download hover-up wow fadeInUp" href="#">
          <div class="inner-download">
            <div class="icon-download"> <img src="{% static 'imgs/template/icons/google-icon.svg' %}" alt="luxride"></div>
            <div class="info-download"> <span class="text-download-top">Download on the</span><span class="text-14-medium">Apple Store</span></div>
          </div></a></div>
    </div>
  </div>
</section>
