{% load static i18n %}
<section class="section mt-50 block-padding-100">
  <div class="box-fleet-padding bg-primary bg-download-2">
    <div class="container-sub"> 
      <h2 class="heading-44-medium color-white mb-20 wow fadeInUp">{% trans "Sempre a portata di mano" %}</h2>
      <p class="color-white text-16 mb-60 wow fadeInUp">{% trans "Noleggia il tuo veicolo in pochissimi click. Scegli tra auto, furgoni o scooter" %}<br class="d-none d-md-block">{% trans "tra la nostra vasta gamma di veicoli, direttamente dal tuo smartphone." %}</p>
      <div class="box-button-download">
        <a class="btn btn-download mr-15 hover-up wow fadeInUp" href="#booking-form">
          <div class="inner-download">
            <div class="icon-download">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <rect x="5" y="2" width="14" height="20" rx="2" ry="2"></rect>
                <line x1="12" y1="18" x2="12.01" y2="18"></line>
              </svg>
            </div>
            <div class="info-download">
              <span class="text-download-top">{% trans "Prenota ora" %}</span>
              <span class="text-14-medium">{% trans "Facile e veloce" %}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>