{% load static i18n %}
<section class="section mt-110"> 
  <div class="container-sub"> 
    <div class="text-center">
      <h2 class="heading-44-medium color-text wow fadeInUp">{% trans "Come Funziona" %}</h2>
    </div>
    <div class="row mt-60 box-how-it-work"> 
      <div class="col-lg-4"> 
        <div class="cardNumberTitleDesc wow fadeInUp">
          <div class="cardNumber"><span>1</span></div>
          <div class="cardTitle">
            <h5 class="text-20-medium color-text">{% trans "Cerca e Prenota" %}</h5>
          </div>
          <div class="cardDesc">
            <p class="text-16 color-text">{% trans "Scegli sede, date e orari. Confronta auto, furgoni o scooter disponibili e prenota online in pochi click." %}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4"> 
        <div class="cardNumberTitleDesc wow fadeInUp">
          <div class="cardNumber"><span>2</span></div>
          <div class="cardTitle">
            <h5 class="text-20-medium color-text">{% trans "Ritira il Veicolo" %}</h5>
          </div>
          <div class="cardDesc">
            <p class="text-16 color-text">{% trans "Presentati in sede con patente e carta di credito. Il nostro staff ti consegnerà le chiavi in pochi minuti." %}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4"> 
        <div class="cardNumberTitleDesc wow fadeInUp">
          <div class="cardNumber"><span>3</span></div>
          <div class="cardTitle">
            <h5 class="text-20-medium color-text">{% trans "Goditi il Viaggio" %}</h5>
          </div>
          <div class="cardDesc">
            <p class="text-16 color-text">{% trans "Esplora Milano e l'Italia in libertà. Riconsegna dove e quando vuoi, anche h24 in alcune sedi." %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>