{% load static %}
<section class="section pt-30 pb-35">
  <div class="container-sub"> 
    <div class="row align-items-center">
      <div class="col-xl-3 col-lg-4 mb-30"> 
        <h3 class="color-primary wow fadeInUp">The partners who sell<br class="d-none d-lg-block">our products</h3>
      </div>
      <div class="col-xl-9 col-lg-8 mb-30">
        <ul class="list-logos d-flex align-item-center wow fadeInUp"> 
          <li><img src="{% static 'imgs/slider/logo/air.svg' %}" alt="Luxride"></li>
          <li><img src="{% static 'imgs/slider/logo/eb.svg' %}" alt="Luxride"></li>
          <li><img src="{% static 'imgs/slider/logo/nba.svg' %}" alt="Luxride"></li>
          <li><img src="{% static 'imgs/slider/logo/nla.svg' %}" alt="Luxride"></li>
        </ul>
      </div>
    </div>
  </div>
</section>