{% load static %}
<section class="section pt-120">
  <div class="container-sub"> 
    <div class="text-center"> 
      <h2 class="heading-44-medium wow fadeInUp">Our Services</h2>
    </div>
    <div class="row mt-60">
      <div class="col-lg-4 mb-30"> 
        <div class="cardServiceStyle2 wow fadeInUp">
          <div class="cardImage"><a href="service-single.html"><img src="{% static 'imgs/page/homepage2/intercity.png' %}" alt="Luxride"></a></div>
          <div class="cardInfo">
            <h3 class="cardTitle text-20-medium color-text mb-10">Intercity Rides</h3>
            <p class="cardDesc text-14 color-text mb-10">Lorem ipsum dolor sit amet, consvi etur sad ips cing elitr, sed diam non umy eirm</p><a class="cardLink btn btn-link hover-up" href="service-single.html">Learn more
              <svg class="icon-16" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
              </svg></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-30"> 
        <div class="cardServiceStyle2 wow fadeInUp">
          <div class="cardImage"><a href="service-single.html"><img src="{% static 'imgs/page/homepage2/chauffeur.png' %}" alt="Luxride"></a></div>
          <div class="cardInfo">
            <h3 class="cardTitle text-20-medium color-text mb-10">Chauffeur Hailing</h3>
            <p class="cardDesc text-14 color-text mb-10">Lorem ipsum dolor sit amet, consvi etur sad ips cing elitr, sed diam non umy eirm</p><a class="cardLink btn btn-link hover-up" href="service-single.html">Learn more
              <svg class="icon-16" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
              </svg></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-30"> 
        <div class="cardServiceStyle2 wow fadeInUp">
          <div class="cardImage"><a href="service-single.html"><img src="{% static 'imgs/page/homepage2/airport.png' %}" alt="Luxride"></a></div>
          <div class="cardInfo">
            <h3 class="cardTitle text-20-medium color-text mb-10">Airport Transfers</h3>
            <p class="cardDesc text-14 color-text mb-10">Lorem ipsum dolor sit amet, consvi etur sad ips cing elitr, sed diam non umy eirm</p><a class="cardLink btn btn-link hover-up" href="service-single.html">Learn more
              <svg class="icon-16" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
              </svg></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>