{% load static %}
<section class="section pt-120">
  <div class="container-sub"> 
    <div class="row align-items-center"> 
      <div class="col-lg-5 mb-30">
        <div class="box-image-showcase wow fadeInUp"><img src="{% static 'imgs/page/homepage2/showcase.png' %}" alt="luxride">
          <div class="box-btn-play-video"><a class="btn btn-white" href="#"> <img class="align-middle mr-10" src="{% static 'imgs/page/homepage2/play.svg' %}" alt="luxride">Play Video</a></div>
        </div>
      </div>
      <div class="col-lg-7 mb-30">
        <div class="box-region-right">
          <h2 class="heading-44-medium color-text mb-30 wow fadeInUp">Showcase some impressive numbers.</h2>
          <p class="text-16 color-text mb-30 wow fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
          <div class="row align-items-center"> 
            <div class="col-sm-4 col-6 mb-30"> 
              <div class="box-number-info wow fadeInUp"><span class="text-20-medium text-number">285</span><span class="text-14 text-number-info">Vehicles </span></div>
            </div>
            <div class="col-sm-4 col-6 mb-30"> 
              <div class="box-number-info wow fadeInUp"><span class="text-20-medium text-number">97</span><span class="text-14 text-number-info">Awards</span></div>
            </div>
            <div class="col-sm-4 col-12 mb-30"> 
              <div class="box-number-info wow fadeInUp"><span class="text-20-medium text-number">13K</span><span class="text-14 text-number-info">Happy Customer </span></div>
            </div>
          </div><a class="btn btn-secondary wow fadeInUp">Learn More
            <svg class="icon-16 ml-5" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
            </svg></a>
        </div>
      </div>
    </div>
  </div>
</section>