{% load static i18n %}
<section class="section pt-120">
  <div class="container-sub"> 
    <div class="row align-items-center"> 
      <div class="col-lg-5 mb-30">
        <div class="box-image-showcase wow fadeInUp">
          <img src="{% static 'imgs/chisiamo.jpg' %}" alt="Ciao Rent Car">
        </div>
      </div>
      <div class="col-lg-7 mb-30">
        <div class="box-region-right">
          <h2 class="heading-44-medium color-text mb-30 wow fadeInUp">{% trans "Prenota con le tariffe low cost in Lombardia" %}</h2>
          <p class="text-16 color-text mb-30 wow fadeInUp">{% trans "Ciao Rent Car mette a disposizione una vasta gamma di autoveicoli, furgoni e scooter, situati presso l'aeroporto di Bergamo, Malpensa, Linate e la stazione ferroviaria di Milano Centrale." %}</p>
          <p class="text-16 color-text mb-30 wow fadeInUp">{% trans "Da oltre cinque anni, soddisfiamo le diverse necessità di mobilità dei nostri clienti, garantendo sempre il veicolo più adatto a ogni esperienza." %}</p>
          <div class="row align-items-center"> 
            <div class="col-sm-4 col-6 mb-30"> 
              <div class="box-number-info wow fadeInUp">
                <span class="text-20-medium text-number">100+</span>
                <span class="text-14 text-number-info">{% trans "Veicoli" %}</span>
              </div>
            </div>
            <div class="col-sm-4 col-6 mb-30"> 
              <div class="box-number-info wow fadeInUp">
                <span class="text-20-medium text-number">5</span>
                <span class="text-14 text-number-info">{% trans "Sedi in Italia" %}</span>
              </div>
            </div>
            <div class="col-sm-4 col-12 mb-30"> 
              <div class="box-number-info wow fadeInUp">
                <span class="text-20-medium text-number">10K+</span>
                <span class="text-14 text-number-info">{% trans "Clienti" %}</span>
              </div>
            </div>
          </div>
          <a class="btn btn-secondary wow fadeInUp" href="#">{% trans "Scopri chi siamo" %}
            <svg class="icon-16 ml-5" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>