{% load static i18n %}
<section class="section mt-110"> 
  <div class="container-sub"> 
    <div class="text-center">
      <h2 class="heading-44-medium color-text wow fadeInUp">{% trans "Perché scegliere Ciao Rent Car" %}</h2>
    </div>
    <div class="row mt-50 cardIconStyleCircle"> 
      <div class="col-lg-4">
        <div class="cardIconTitleDesc wow fadeInUp">
          <div class="cardIcon"><img src="{% static 'imgs/svg/sicuri.svg' %}" alt="Sicurezza"></div>
          <div class="cardTitle">
            <h5 class="text-20-medium color-text">{% trans "Veicoli Sicuri e Controllati" %}</h5>
          </div>
          <div class="cardDesc">
            <p class="text-16 color-text">{% trans "Tutti i nostri veicoli sono sottoposti a controlli regolari e manutenzione costante per garantirti la massima sicurezza su strada." %}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="cardIconTitleDesc wow fadeInUp">
          <div class="cardIcon"><img src="{% static 'imgs/svg/prices.svg' %}" alt="Prezzi"></div>
          <div class="cardTitle">
            <h5 class="text-20-medium color-text">{% trans "Prezzi Trasparenti" %}</h5>
          </div>
          <div class="cardDesc">
            <p class="text-16 color-text">{% trans "Nessuna sorpresa al ritiro. Il prezzo che vedi è il prezzo che paghi, con tariffe low cost tra le più competitive in Lombardia." %}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4"> 
        <div class="cardIconTitleDesc wow fadeInUp">
          <div class="cardIcon"><img src="{% static 'imgs/svg/car.svg' %}" alt="Flessibilità"></div>
          <div class="cardTitle">
            <h5 class="text-20-medium color-text">{% trans "Massima Flessibilità" %}</h5>
          </div>
          <div class="cardDesc">
            <p class="text-16 color-text">{% trans "Riconsegna h24 in alcune sedi, modifica gratuita della prenotazione e possibilità di ritiro in aeroporti e stazioni." %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>