{% load static %}
<footer class="footer footer-white">
  <div class="footer-1">
    <div class="container-sub">
      <div class="box-footer-top">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6 text-md-start text-center mb-15 wow fadeInUp">
            <div class="d-flex align-items-center justify-content-md-start justify-content-center"><a class="mr-30" href="#"><img src="{% static 'imgs/template/logo-black.svg' %}" alt="Luxride"></a><a class="text-14-medium call-phone color-white hover-up" href="tel:+41227157000">+41 22 715 7000</a></div>
          </div>
          <div class="col-lg-6 col-md-6 text-md-end text-center mb-15 wow fadeInUp">
            <div class="d-flex align-items-center justify-content-md-end justify-content-center"><span class="text-18-medium color-white mr-10">Follow Us</span><a class="icon-socials icon-facebook" href="#"></a><a class="icon-socials icon-twitter" href="#"></a><a class="icon-socials icon-instagram" href="#"></a><a class="icon-socials icon-linkedin" href="#"></a></div>
          </div>
        </div>
      </div>
      <div class="row mb-40">
        <div class="col-lg-3 width-20 wow fadeInUp">
          <h5 class="text-18-medium color-white mb-20">Company</h5>
          <ul class="menu-footer">
            <li><a href="#">About us</a></li>
            <li><a href="#">Our offerings</a></li>
            <li><a href="#">Newsroom</a></li>
            <li><a href="#">Investors</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Gift cards</a></li>
          </ul>
        </div>
        <div class="col-lg-3 width-20 mb-30 wow fadeInUp">
          <h5 class="text-18-medium color-white mb-20">Top cities</h5>
          <ul class="menu-footer">
            <li><a href="about.html">New York</a></li>
            <li><a href="our-team.html">London</a></li>
            <li><a href="#">Berlin</a></li>
            <li><a href="#">Los Angeles</a></li>
            <li><a href="#">Paris</a></li>
          </ul>
        </div>
        <div class="col-lg-3 width-20 mb-30 wow fadeInUp">
          <h5 class="text-18-medium color-white mb-20">Explore</h5>
          <ul class="menu-footer">
            <li><a href="#">Intercity rides</a></li>
            <li><a href="#">Limousine service</a></li>
            <li><a href="#">Chauffeur service</a></li>
            <li><a href="#">Private car service</a></li>
            <li><a href="#">Ground transportation</a></li>
            <li><a href="#">Airport transfer</a></li>
          </ul>
        </div>
        <div class="col-lg-3 width-20 mb-30 wow fadeInUp">
          <h5 class="text-18-medium color-white mb-20">Classes</h5>
          <ul class="menu-footer">
            <li><a href="#">Business</a></li>
            <li><a href="#">First</a></li>
            <li><a href="#">XL</a></li>
            <li><a href="#">Assistant</a></li>
          </ul>
        </div>
        <div class="col-lg-3 width-20 wow fadeInUp">
          <h5 class="text-18-medium color-white mb-20">Download The App</h5>
          <div class="text-start">
            <div class="box-button-download"><a class="btn btn-download mb-20 hover-up wow fadeInUp" href="#">
                <div class="inner-download">
                  <div class="icon-download"><img src="{% static 'imgs/template/icons/apple-icon.svg' %}" alt="luxride"></div>
                  <div class="info-download"><span class="text-download-top">Download on the</span><span class="text-14-medium">Apple Store</span></div>
                </div></a><a class="btn btn-download mb-20 hover-up wow fadeInUp" href="#">
                <div class="inner-download">
                  <div class="icon-download"><img src="{% static 'imgs/template/icons/google-icon.svg' %}" alt="luxride"></div>
                  <div class="info-download"><span class="text-download-top">Download on the</span><span class="text-14-medium">Apple Store</span></div>
                </div></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-2">
    <div class="container-sub">
      <div class="footer-bottom">
        <div class="row align-items-center">
          <div class="col-lg-8 col-md-12 text-center text-lg-start"><span class="text-14 color-white mr-50">© 2024 Luxride</span>
            <ul class="menu-bottom">
              <li><a href="term-conditions.html">Terms</a></li>
              <li><a href="term-conditions.html">Privacy policy</a></li>
              <li><a href="term-conditions.html">Legal notice</a></li>
              <li><a href="#">Accessibility</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-12 text-center text-lg-end"><a class="btn btn-link-location" href="#">New York</a><a class="btn btn-link-globe active" href="#">English</a></div>
        </div>
      </div>
    </div>
  </div>
</footer>