{% load static %}
<div class="box-dropdown-location">
  <div class="list-locations"> 
    <div class="item-location"> 
      <div class="location-icon"> <img src="{% static 'imgs/page/homepage1/plane.png' %}" alt="luxride"></div>
      <div class="location-info"> 
        <h6 class="text-16-medium color-text title-location">London Heathrow Airport (LHR)</h6>
        <p class="text-14 color-grey">London, United Kingdom</p>
      </div>
    </div>
    <div class="item-location"> 
      <div class="location-icon"> <img src="{% static 'imgs/page/homepage1/building.png' %}" alt="luxride"></div>
      <div class="location-info"> 
        <h6 class="text-16-medium color-text title-location">London Tower Hill</h6>
        <p class="text-14 color-grey">London, United Kingdom</p>
      </div>
    </div>
    <div class="item-location"> 
      <div class="location-icon"> <img src="{% static 'imgs/page/homepage1/train.png' %}" alt="luxride"></div>
      <div class="location-info"> 
        <h6 class="text-16-medium color-text title-location">Leyton Train Station</h6>
        <p class="text-14 color-grey">London, United Kingdom</p>
      </div>
    </div>
    <div class="item-location"> 
      <div class="location-icon"> <img src="{% static 'imgs/page/homepage1/plane.png' %}" alt="luxride"></div>
      <div class="location-info"> 
        <h6 class="text-16-medium color-text title-location">London Luton Airport (LTN)</h6>
        <p class="text-14 color-grey">London, United Kingdom</p>
      </div>
    </div>
  </div>
</div>