{% load static %}
<div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
  <div class="mobile-header-wrapper-inner">
    <div class="mobile-header-content-area">
      <div class="perfect-scroll">
        <div class="mobile-menu-wrap mobile-header-border">
          <nav class="mt-15">
            <ul class="mobile-menu font-heading">
              <li><a class="active" href="{% url 'index' %}">Home</a></li>
              <li class="has-children"><a href="#">Noleggio</a>
                <ul class="sub-menu">
                  <li><a href="#">Auto</a></li>
                  <li><a href="#">Furgoni</a></li>
                  <li><a href="#">Scooter</a></li>
                </ul>
              </li>
              <li class="has-children"><a href="#">Sedi</a>
                <ul class="sub-menu">
                  <li><a href="#">Milano Centrale</a></li>
                  <li><a href="#">Aeroporto Linate</a></li>
                  <li><a href="#">Aeroporto Bergamo</a></li>
                  <li><a href="#">Lecce</a></li>
                  <li><a href="#">Napoli</a></li>
                </ul>
              </li>
              <li><a href="#">Chi siamo</a></li>
              <li><a href="#">Contatti</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>